<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399404485999-uf5iliugaf2vjf196chu7630ov69ajia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399404485999-uf5iliugaf2vjf196chu7630ov69ajia</string>
	<key>API_KEY</key>
	<string>AIzaSyAGA2ZshmaGe9aYwSs-d86SIUhUeSavPVY</string>
	<key>GCM_SENDER_ID</key>
	<string>399404485999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.need4it.cryptoCoinsList.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>crypto-list-app-7bb94</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-list-app-7bb94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399404485999:ios:a2ce6288c419c09e546c9a</string>
</dict>
</plist>